#sidebar-wrapper {
  z-index: 1;
  position: absolute;
  width: 250px;
  height: 120%;
  overflow-y: hidden;
  background: #2C3E50;
  opacity: 0.9;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
  padding-left: 250px;
}

.sidebar-nav{
  padding: 0;
  list-style: none;
}

.sidebar-nav h3{
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li{
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav h3{
  display: block;
  text-decoration: none;
  color: #ddd;
}

.sidebar-nav li a{
  display: block;
  text-decoration: none;
  color: #ddd;
}

.sidebar-nav li a:hover{
  background: #16A085;
}
