body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  position: absolute;
}

/*** --- Sidebar settings menu --- ***/

.sidenav {
  display: none;
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(21, 21, 21);
  color: white;
  overflow-x: hidden;
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 40px;
  margin-left: 50px;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #ffffff;
  outline: none;
  opacity: 0.9;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #FF013C;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fd5454;
  cursor: pointer;
}

#menuButton {
  position: absolute;
  top: 0.3vw;
  right: 0.3vw;
  background-color: #FF013C;
  color: #fff;
  padding: 14px;
  border-right: 4px solid #00E6F6;
}

#menuButton:hover {
  background-color: #242424;
  color: white;
}

.menuText {
  color: #ffffff;
  text-align: center;
  font-size: 18px;
}

/*------- Calibration section ------*/

/* Calibration button styling */
.Calibration {
  width: 20px;
  height: 20px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background-color: rgb(255, 0, 242);
  opacity: 0.3;
  border-color: black;
  border-style: solid;
  position: fixed;
  z-index: 1;
}


/*- Calibration points -*/

#Pt1 {
  top: 70px;
  left: 2vw;
}

#Pt2 {
  top: 70px;
  left: 50vw;
  margin-left: 340;
}

#Pt3 {
  top: 70px;
  right: 2vw;
}

#Pt4 {
  top: 50vh;
  left: 2vw;
}

#Pt5 {
  top: 50vh;
  left: 50vw;
}

#Pt6 {
  top: 50vh;
  right: 2vw;
}

#Pt7 {
  bottom: 2vw;
  left: 2vw;
}

#Pt8 {
  bottom: 2vw;
  left: 50vw;
}

#Pt9 {
  bottom: 2vw;
  right: 2vw;
}

/* Modal Calibration window */

/* The Modal (background) */
.modal {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal_content {
  text-align: center;
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  /* Could be more or less, depending on screen size */
}

.modal_message {
  font-size: 20px;
  color: black;
}

/* CSS */
/* https://getcssscan.com/css-buttons-examples Button 49*/
#startButton,
#startButton:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#startButton:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

#startButton:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {

  #startButton,
  #startButton:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}